.small-note-send {
    width: 100%;
}

.icon-youbian {
    color: #808080;
}

.linkman {
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 13px;
    background-color: #fff;
    padding: 0 10px;
    border-bottom: 1px solid #eee;
}

.img-upload {
    border-bottom: 1px solid #eee;
}

.img-upload-info {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    overflow: hidden;
}

.img-upload .img-info {
    width: 100%;
    min-height: 60px;
}

.voice {
    width: 100%;
    height: 120px;
    background-color: #fff;
    margin-top: 10px;
    border-bottom: 1px solid #eee;
    padding: 0 10px;
}

.voice-left {
    width: 90px;
    height: 90px;
    float: left;
    text-align: center;
    line-height: 130px;
    webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.voice-left .iconfont {
    font-size: 50px;
    color: #FE5400;
    line-height: 120px;
}

.voice-right {
    width: 60%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}
.voice-right .yuyin1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.yuyin1 img {
    margin-left: 6px;
    width: 35px;
    height: 25px;
    z-index: 100;
    position: relative;
    top: 5px;
}

.text {
    width: 100%;
    margin-top: 10px;
}

.text textarea {
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 13px;
}

.recording {
    width: 100%;
    height: 260px;
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: -260px;
    z-index: 1000;
    text-align: center;
    transition: all .3s;
    background-color: #f6f6f6;
}

.recording.active {
    transform: translateY(-100%);
}

.recording-time {
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #555;
    font-size: 13px;
    margin-top: 20px;
}

.recording-animation {
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 10px auto;
    position: relative;
}

.recording-animation .iconfont {
    font-size: 35px;
}

.before::before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: #ccc;
    animation: animation 1s infinite linear;
}

.recording-animation::after {
    animation-delay: 0.7s;
}

@keyframes animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.recording {
    webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.recording button {
    width: 150px;
    height: 45px;
    border-radius: 20px;
    font-size: 15px;
    background-color: #ff7f34;
    color: #fff;
    margin-top: 30px;
    webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.shade {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    display: none;
    z-index: 80;
}

.button {
    background-color: #fff;
}

.small-note-content {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #eee;
}

.items {
    padding: 10px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 45px 45px;
    background-position: right top;
    margin-bottom: 10px;
}

.items:last-child {
    margin-bottom: 0;
}

.items ul li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    font-size: 15px;
}

.items .time {
    font-size: 13px;
    color: #808080;
}

.icon-fasong {
    color: #75acfc;
}

/*语音播放部分／*/
.yuyin, .yuyin1 {
    width: 145px;
    height: 35px;
    margin-left: 15px;
    border-radius: 5px;
    position: relative;
    background-color: #fe6921;
}

.yuyin_jt {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: -12px;
    transform: rotate(45deg) translateY(-50%);
    margin-top: -3px;
    border-radius: 3px;
    background-color: #fe6921;
}

.yuyin-bf {
    position: relative;
    top: 0;
    left: 10px;
    width: 5px;
    height: 100%;
    overflow: hidden;
    float: left;
    margin: 0 2px;
}

.yuyin-bf::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 14px;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 2px solid #eef0ee;
    box-sizing: border-box;
}

.yuyin-bf:nth-child(3)::before {
    height: 20px;
}

.yuyin-bf:nth-child(4)::before {
    height: 25px;
}

.actives {
    animation: anmite 0.8s infinite alternate linear;
}

@keyframes anmite {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
