body{
    background-color: #fbfbfb;
}
.patriarch a,.teacher a{
    display: block;
    font-size: 16px;
    width: 130px;
    margin: 75px auto;
    text-align: center;
    color: #555;
}
.patriarch a img,.teacher a img{
    width: 130px;
    height: 130px;
}
.patriarch a p,.teacher a p{
    margin-top: 10px;
}