.my-content{
    padding: 10px 10px;
    box-sizing: border-box;
    width: 100%;
}
.my-content ul{
    padding: 0 10px;
    background-color: #fff;
}
.my-content ul li{
    margin: 10px 0;
    border-bottom: 1px solid #eee;
    position: relative;
}
.my-content ul li .iconfont{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 60px;
    color: #C81623;
}
.my-content ul li p{
    width: 100%;
    line-height: 28px;
    font-size: 14px;
    color: #555;
}
.content-info ul li input[type="date"]{
    border: none;
    background-color: #fff;
}