.weui-form-preview__btn_primary{
    color: #FE5400;
}
.weui-form-preview__ft{
    line-height: 45px;
}
button.weui-form-preview__btn{
    font-size: 15px;
}
.weui-form-preview__label{
    color: #555;
}
.weui-form-preview__bd{
    color: #555;
}
.introduction{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
}
.weui-form-preview:before{
    border: none;
}