.banner{
    width: 100%;
    height: 130px;
}
.tab-info{
    margin-top: 10px;
}
.weui-form-preview__btn_primary{
    color: #FE5400;
}
.weui-form-preview__ft{
    line-height: 45px;
}
button.weui-form-preview__btn{
    font-size: 15px;
}
.weui-form-preview__label{
    color: #555;
}
.weui-form-preview__bd{
    color: #555;
}