.blocks{
	width: 96%;
	margin: 0 auto;
	background: #fff;
	box-shadow:0 0 10px rgba(0,0,0,.1);
	border-radius: 5px;
}
.lunbo{
	width: 100%;
}
.lunboImg{
	width: 100%;
	height: 12em;
}
.Down{
	width: 100%;
	background: rgba(0,0,0,0.5);
	position: fixed;
	left: 0;
	top: 0;
	padding: 1rem 0;
	z-index: 99;
}
.downPOne{
	color: #fff;
	font-size: 1.5rem;
}
.downp{
	display: inline-block;
}
.priceTro{
	display: flex;	
	justify-content: space-around;
	padding: 0.5rem 0;
}
.clearfixone{
	clear: both;
}
.headLogo{
	width: 12%;
	margin-left: 2%;
	vertical-align: middle;
}
.downPOne{
	width: 57%;
	margin-left: 3%;
	font-size: 1.5rem;
}
.downPTwo{
	vertical-align: middle;
	margin: 1% 2% 0 0;
	color: #fff;
	background: #eb544f;
	padding: 2.5%;
	border-radius: 5px;
	font-size: 1.4rem;
}
.schoolName{
	padding: 0.5rem 0;
	margin-top: -1.5rem;
	position: relative;
}
.coursePrice{
	margin-top: 1rem;
}
.schoolLogoImg{
	border-radius: 5px;
	box-shadow:0 0 10px rgba(0,0,0,.1);
	width: 25%;
	height:6.5rem;
	position: absolute;
	left: 2%;
	top: -2rem;
}
.schoolNFont{
	/*width: calc(80%-6rem);*/
	width: 70%;
	font-size: 1.2rem;
	display: inline-block;
	margin-left: 28%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.priceImg{
	vertical-align: middle;
	font-size: 18px;
	color: #eb4c39;
}
.delPre{
	margin-left: 3%;
}
.priceJishi{
	margin-left: 0.2rem;
	vertical-align: middle;
}
.footImg{
	font-size: 2.4rem !important;
	color: #eb4c39;
}
.priceOne{
	margin: 0rem 2% 0;
	padding-bottom: 1rem;
	border-bottom: 1px solid #F0F0F0;
	position: relative;
}
.priceLeft{
	width: 75%;
	display: flex;
	justify-content: space-around;
	border-right: 1px solid #f0f0f0;
}
.priceLeft span{
	font-size: 1.4rem;
	text-align: center;
	display: block;
}
.spanNum{
	color: #666;
}
.spanFont{
	color: #999;
}
.priceRight{
	width: 13%;
	position: absolute;
	right: 0;
	top: 0rem;
}
.priceRight img{
	width: 60%;
}
#couTitle{
	font-size: 1.6rem;
}
.nian{
	font-size: 1.4rem;
	padding: 0.1rem 0.3rem;
	border-radius: 3px;
	margin-left: 1rem;
	border: 1px solid #eb4c39;
	color: #eb4c39;
}
#coursetype{
	font-size: 1.1rem;
	color: #999;
}
.Price{
	width: 100%;
	color: #999;
	display: flex;
	justify-content: space-between;
}
.delPrice{
	display: inline-block;
}
.courseOne{
	padding-bottom: 0.8rem;
	border-bottom: 1px solid #f0f0f0;
}
.money{
	display: inline-block;
	font-size: 1.5rem;
	color: #eb4c39;
}
.moneyPrice{
	color: #eb4c39;
	font-size: 1.5rem;
	font-weight: 600;
}
.CourseRight{
	margin-top: 0.4rem;
}
.delMoney{
	font-size: 0.9rem;
	color: #999;
}
.priceImg{
	width: 1.2rem;
}
.returnTicket{
	padding: 0.6rem 0;
	margin-top: 0.5rem;
}
.returnTicket img{
	width: 8%;
	vertical-align: middle;
}
.returnTicket span{
	display: inline-block;
}
.quanFont{
	display: inline-block;
	margin-left: 2%;
	background: #eb4c39;
	color: #fff;
	padding: 0.2rem 0.6rem;
	font-size: 0.5rem;
	border-radius: 5px;
}
.quanTro{
	display: inline-block;
	font-size: 0.76rem;
	width: 76%;	
	margin-left: 1%;
	color:#666;
}
.courseAbstract{
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 1rem 0;
}
.abstractTitle{
	padding-left: 1rem;
	border-left: 3px solid #eb4c39;
	font-size: 1rem;
	color: #999;
	margin-bottom: 1rem;
}
.abstractContent{
	width: 90%;
	margin: 0 auto;
	border-top: 1px solid #F0F0F0;
	padding-top: 0.8rem;
}
.abstractContent p{
	line-height: 1.8rem;
	font-size: 0.9rem;
	padding-top: 0rem;
}
.courseP{
	text-indent: 2.6rem;
	overflow: hidden;
}
.courseP.courseP-active{
	height: auto !important;
}
.addrFont{
	width: 79%;
	margin-top: 0rem;
}
.addrImg{
	width: 20%;
	text-align: center;
}
.icon-dizhi{
	text-align: center;
	font-size: 2rem !important;
	color: #eb4c39;
}
.juli{
	color: #999;
}
.courseOrgani{
	padding-bottom: 8.5rem;
}
.organiLeft{
	margin-left: -2%;
	width: 23%;
}
.Sunday{
	margin-left: 6.85rem;
}
.organiRight{
	margin-left: 2%;
	width: 77%;
}
.organiRight>p{
	font-size: 1rem;
}
.origainIng{
	width: 18%;
	vertical-align: middle;
}
.organiBig{
	border-radius: 5px;
	width: 100%;
	padding-bottom: 2em;
}
.organiThree{
	display: flex;
	justify-content: space-between;
}
.organiThree span{
	color: #666;
	font-size: 0.7rem;
}
.mienTitle{
	padding-bottom: 3rem;
}
.mienMore{
	margin-right: 3%;
	margin-top: 0.5rem;
	font-size: 0.8rem;
	color: #999;
	text-decoration: none;
}
.mienTwo{
	display: inline-block;
	width: 48%;
	margin: 0.5em 0 0 1%;
}
.mienTwo img{
	width: 100%;
	height: 7rem;
}
.articleOne{
	width: 100%;
}
.articleLeft{
	width: 68%;
}
.articleRight{
	width: 30%;
}
.articleRight img{
	width: 100%;
	margin-top: 0.6rem;
	vertical-align: middle;
}
.articleDate{
	margin-right: 5%;
	color: #999;
}
.articleOne{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 0.8rem;
}
.articleDate{
	display: flex;
	justify-content: space-between;
}
.articleTwo{
	width: 100%;
}
.articleTwo img{
	width: 32%;
}
.articleTwo img:nth-child(2){
	margin: 0 1%;
}
.articleThree{
	width: 100%;
}
.articleThree img{
	width: 100%;
}
.articleTitle{
	font-size: 1.5rem !important;
}
.articleTwoDate{
	display: flex;
	justify-content: space-between;
	color: #999;
}
.downPTwo {
	text-decoration: none;
}

.articleOne a {
	width: 100%;
	display: block;
}

.articleRight {
	float: left;
}

.articleLeft {
	float: right;
}

.schoolLogoImg {
	object-fit: cover;
	width: 4.5rem;
	height: 4.5rem;
}

.lunbo {
	width: 100%;
}

.lunboImg {
	object-fit: cover;
}

.mienTwo img {
	object-fit: cover;
}

.schoolNFont {
	width: calc(100% - 6rem);
}
.abstractDown{
	width: 100%;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #999;
}
.abstractDown .iconfont{
	display: block;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}

.abstractDown .iconfont.down-active{
	transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
}
.foot {
	width: 100%;
	height: 100%;
	line-height: 50px;
}
.footLeft {
	text-align: center;
	width: 35%;
	background: #fff;
}
.footShop {
	background: #ff503c;
	text-align: center;
	width: 65%;
	font-size: 1.6rem;
	color: #fff;
	height: 100%;
}
.hot-jiage{
	width: 100%;
	margin-top: 5px;
}
.hot-jiage .hot-img{
	width: 60px;
	height: 20px;
	float: left;
}
.hot-jiage .jiage{
	margin-left: 2rem;
	color: #C81623;
}